{% extends 'header.html' %} {% block body %}

<div class="container container3" style="text-align:center !important" ;>
    <a class="btn btn-block button1" style="background: linear-gradient(to right, #56ab2f, #a8e063);!important; display:inline-block; float:left; margin-left:30px;width:fit-content; color:black !important; font-size:1.5em;" name="goback" href="/customer">
        <span style="float:left">
            <em class="fas fa-arrow-circle-left"></em>
        </span>
    </a>
    <a class="btn btn-block button1" style="background: linear-gradient(to right, #e65c00, #f9d423);!important; display:inline-block; margin-top:5px; width:fit-content; color:black !important; font-size:1.5em;" name="city" href="#">
        <span>
            <em class="fas fa-fas fa-map-marker-alt"></em>Food Emergency Hotlines</span>
    </a>

    <div class="well" style="margin-left:30px;color:white;margin-top:25px;
background: linear-gradient(to right, #870000, #190a05);text-align:left;
border-radius:3%;">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <em class="fas fa-apple-alt"></em> Emergency 24/7 Hunger Hotline</h3>
                <h5>The Hunger Hotline is an emergency, 24/7 service to provide those in need with referral information for agencies in their neighborhoods. Callers are supplied with agency names and telephone numbers.</h5>
                <h5 style="font-size:1.25em;">
                    <em class="fas fa-mobile-alt"></em> 314-726-5355</h5>
                <h5>If you or someone you know is in need of emergency assistance, call (314) 726-5355 x1 and follow the instructions to access the Hunger Hotline.</h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <em class="fas fa-headset"></em> 11 Hunger Helpline by Delhi Government during Coronavirus Outbreak</h3>
                <h5>The helpline will guide and assist people to the nearest night shelter for availing cooked meal.</h5>
                <h5 style="font-size:1.25em;">
                    <em class="fas fa-mobile-alt"></em> The helpline numbers are: East district (8375879007), North East (9136469416), Central (7428210545), New Delhi (7290978054), North (8595364814), Shahdara (8595269577), South East (7048998835), West (8595269589), South (9818523225),
                    South West (9871662109) and North West (8595552073).</h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <em class="fas fa-hands-helping"></em> The Bengaluru Hunger Helpline</h3>
                <h5>The Hunger Helpline was launched in March 28 with the promise that food would reach those in need. Presently, the helpline is sourcing food from six vendors including Wipro, Art of Living and Admaya Chetana, totalling to at least over
                    1.5 lakh meals daily. On an average, it gets over 6,000 calls per day.</h5>
                <h5 style="font-size:1.25em;">
                    <em class="fas fa-mobile-alt"></em> 155214</h5>
            </div>
        </div>
        <hr>
    </div>
    {% endblock %}